﻿#container {
    margin: 15px;
    height: 100%;
    width: 100%
}
#content, #additionalContent {
    float: left;
    padding: 10px;
}
li.additionalContentItem {
    padding: 10px;
}
ul {
    list-style-type: none;
}
td, th {
    display: table-cell;
    padding: 5px;
}
.dataRow:nth-child(even) {
    background: #fff
}

.dataRow:nth-child(odd) {
    background: #b8ffc9
}

th {
    background: #f2cd8d
}

.dataRow:hover, button {
    background: #ffe2b0
}